body {
    font-family: Arial, sans-serif;
    background: #f1eee3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    min-height: 90vh;
}

.container {
    background: #f1daba;
    padding: 35px;
    border-radius: 12px;
    width: 500px;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
    color: #152232;
}

.entrada {
    display: flex;
    gap: 15px;
}

input {
    flex: 1;
    padding: 10px;
    padding: 15px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button {
    padding: 15px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background: #30656e;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #3c7a85;
    transform: scale(1.05);
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

li {
    background: #eee;
    padding: 18px;
    margin-bottom: 15px;
    border-radius: 12px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn {
    background: crimson;
    padding: 5px 8px;
    font-size: 14px;
}

.delete-btn:hover {
    background: darkred;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    margin-right: 12px;
    cursor: pointer;
}
